{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Perfil</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">

    <div class="row">

      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <h2>{{request.user}}</h2>
            <h3>{% for groups in request.user.groups.all %} {{groups}} {% endfor %}</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item"><a
                href="{% url 'perfil_usuario' %}" class="nav-link">Descripción general</a>
              </li>

              <li class="nav-item">
                <button class="nav-link" id="profile-edit-button" data-bs-toggle="tab"
                  data-bs-target="#profile-edit">Editar Perfil</button>
              </li>

              <li class="nav-item">
                <a href="{% url 'cambiar_password' %}" class="nav-link">Cambiar Contraseña</a>
              </li>

            </ul>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

              <!-- Profile Edit Form -->
              <form action="{% url 'editar_perfil' %}" method="post" class="row g-3 needs-validation">
                {% csrf_token %}

                <div class="row mb-3" style="padding-top: 20px;">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nombre de Usuario</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="username" type="text" class="form-control" id="fullName">
                    {% for message in messages %}
                      {% if 'characters_error' in message.tags %}<div class="text-danger" style="margin-left: 10px; font-size: 16px;">
                        {{message}}  </div>
                      {% endif %}
                    {% endfor %}
                    
                    {% for message in messages %}
                      {% if 'username_existe_error' in message.tags %}<div class="text-danger" style="margin-left: 10px; font-size: 16px;">
                        {{message}}  </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label">Acerca de</label>
                  <div class="col-md-8 col-lg-9">
                    <textarea name="about" class="form-control" id="about" style="height: 100px"></textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Numero de Telefono</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="text" class="form-control" id="Phone">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Email" class="col-md-4 col-lg-3 col-form-label">Correo</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" id="Email">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="password" type="password" class="form-control" id="currentPassword">
                    {% for message in messages %}
                      {% if 'password_novalida' in message.tags %}<div class="text-danger" style="margin-left: 10px; font-size: 16px;">
                        {{message}}  </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>

                <div class="text-center">
                  <a href="{% url 'editar_perfil' %}"><button type="submit" class="btn btn-primary" method="post">Guardar Cambios</button></a>
                </div>

              </form><!-- End Profile Edit Form -->

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}