{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Perfil</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="$" alt="Sin imagen" class="rounded-circle">
            <h2>{{request.user}}</h2>
            <h3>{% for user in tipo_usuario %} {{user}} {% endfor %}</h3>

          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">

              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Descripcion general</button>
              </li>

              <li class="nav-item">
                <a href="{% url 'editar_perfil' %}" class="nav-link">Editar Perfil</a></button>
              </li>

              <li class="nav-item">
                <a href="{% url 'cambiar_password' %}" class="nav-link">Cambiar Contraseña</a></button>
              </li>

            </ul>

            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">

                <h5 class="card-title">Acerca de</h5>
                <p class="small fst-italic"></p>

                <h5 class="card-title">Detalles del Perfil</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Nombre</div>
                  <div class="col-lg-9 col-md-8">{{request.user}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Ocupacion</div>
                  <div class="col-lg-3 col-md-4 label">{% for user in tipo_usuario %} {{user}} {% endfor %}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Numero Telefono</div>
                  <div class="col-lg-9 col-md-8"></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Correo</div>
                  <div class="col-lg-9 col-md-8">{{request.user.email}}</div>
                </div>

              </div><!-- End Bordered Tabs -->

            </div>

          </div>

        </div>
      </div>
  </section>

</main><!-- End #main -->

{% endblock %}