UniversityWebProject/__init__.py
UniversityWebProject/migrations
UniversityWebProject/__pycache__

UniversityWebApp/__init__.py
UniversityWebApp/migrations
UniversityWebApp/__pycache__

registro/__init__.py
registro/migrations
registro/__pycache__

inicio_sesion/__init__.py
inicio_sesion/migrations
inicio_sesion/__pycache__

carreras/__init__.py
carreras/migrations
carreras/__pycache__

blog/__init__.py
blog/migrations
blog/__pycache__

perfil_usuario/__init__.py
perfil_usuario/migrations
perfil_usuario/__pycache__

__pycache__
.env
static/
db.sqlite3