UniversityWebProject/__init__.py
UniversityWebProject/migrations
UniversityWebProject/__pycache__

UniversityWebApp/__init__.py
UniversityWebApp/migrations
UniversityWebApp/__pycache__

registro/__init__.py
registro/migrations
registro/__pycache__

db.sqlite3