{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

<main class="main" id="main">

  {% if user.is_authenticated %}

    {% for group in user.groups.all %} 

      <h2 style="margin-left: 60px;">Bienvenido {{request.user}}</h2>
    
      {% if group.name == "Estudiante" %}

      <p style="margin-left: 60px;">Vaya, eres estudiante. ¡Estás en el camino correcto para alcanzar tus metas académicas y profesionales! En nuestra universidad, te ofrecemos una amplia gama de emocionantes carreras para elegir. A continuación, encontrarás algunas opciones que podrían interesarte:</p>

      <p style="margin-left: 60px;">¡Estas son solo algunas de las muchas oportunidades que te esperan! No dudes en explorar estas opciones y tomar el siguiente paso hacia tu futuro. Haz clic en "Matricular" para obtener más información sobre la carrera que te interesa y comenzar tu viaje académico. ¡Estamos aquí para ayudarte en cada paso del camino!</p>

      {% for message in messages %}
        {% if 'ya_matriculado_error' in message.tags %} <div class="text-danger" style="text-align: center;"> 
          {{ message }}</div>
        {% endif %}
      {% endfor %}

        <section id="posts" class="section-with-bg">
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            {% for post in post_estudiante %}
              <div class="col-lg-4 col-md-6">
                <div class="posts" style="background-color:DarkTurquoise; color: white; margin-bottom: 20px;">
                  <div class="posts-img" >
                    <img src="{{post.imagen.url}}" alt="" class="img-fluid" style="width: 500px; height: 250px;">
                  </div>
                    <h3>{{post.titulo}}</h3>
                    <p style="color: white;">{{post.contenido}}</p>
                    <a href="{% url 'matricular_carrera' post.carrera.nombre %}"><p style="color: white;">Matricular</p></a><br>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>

      {% else %}

      <p style="margin-left: 60px;">¡Hola, estimado profesor!</p>

      <p style="margin-left: 60px;">En nuestra universidad, valoramos a los educadores comprometidos como tú que desean llevar su experiencia y conocimiento al siguiente nivel. Te animamos a considerar la posibilidad de especializarte en una carrera que apasione tu enseñanza y te permita influir de manera significativa en la próxima generación de profesionales.</p>

      <p style="margin-left: 60px;">Te ofrecemos la oportunidad de explorar las siguientes opciones de especialización:</p>
      
      {% for message in messages %}
        {% if 'ya_especializado_error' in message.tags %} <div class="text-danger" style="text-align: center;"> 
          {{ message }}</div>
        {% endif %}
      {% endfor %}

      {% for message in messages %}
        {% if 'no_salon' in message.tags %} <div class="text-danger" style="text-align: center;"> 
          {{ message }}</div>
        {% endif %}
      {% endfor %}

        <section id="posts" class="section-with-bg">
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            {% for post in post_profesor %}
              <div class="col-lg-4 col-md-6">
                <div class="posts" style="background-color:DarkTurquoise; color: white;">
                  <div class="posts-img" >
                    <img src="{{post.imagen.url}}" alt="" class="img-fluid" style="width: 500px; height: 250px;">
                  </div>
                    <h3>{{post.titulo}}</h3>
                    <p style="color: white;">{{post.contenido}}</p>
                    <a href="{% url 'especializarse' post.titulo %}"><p style="color: white;">Especializarse</p></a><br>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>

      {% endif %}

    {% endfor %}
      
    {% else %}

      <p>Logeate</p>

  {% endif %}

</main>

{% endblock %}