{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

<main class="main" id="main">

  {% if user.is_authenticated %}

    {% for group in user.groups.all %} 
    
      {% if group.name == "Estudiante" %}

        <p>Vaya eres Estudiante</p>

        <section id="posts" class="section-with-bg">
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            {% for post in post_estudiante %}
              <div class="col-lg-4 col-md-6">
                <div class="posts">
                  <div class="posts-img">
                    <img src="{{post.imagen.url}}" alt="" class="img-fluid">
                  </div>
                    <h3>{{post.titulo}}</h3>
                    <p>{{post.contenido}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>

      {% else %}

        <p>Vaya eres Profesor</p>

        <section id="posts" class="section-with-bg">
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            {% for post in post_profesor %}
              <div class="col-lg-4 col-md-6">
                <div class="posts">
                  <div class="posts-img">
                    <img src="{{post.imagen.url}}" alt="" class="img-fluid">
                  </div>
                    <h3>{{post.titulo}}</h3>
                    <p>{{post.contenido}}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </section>

      {% endif %}

    {% endfor %}
      
    {% else %}

      <p>Logeate</p>

  {% endif %}

</main>

{% endblock %}