<style> #sidebar {display: none;} #header {display: none !important;}</style>

{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Crea una cuenta</h5>
                    <p class="text-center small">Ingrese sus datos para crear una cuenta</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">Tu Nombre</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Ingrese su nombre</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Tu Correo</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Ingrese un correo valido</div>
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Nombre de Usuario</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Ingrese un nombre de usuario</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Contraseña</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Ingrese una contraseña</div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Confirmar contraseña</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">La contraseña debe ser igual</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Crear cuenta</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Ya tienes una cuenta? <a href="inicio_sesion.html">Inicia Sesion</a></p>
                    </div>

                    <div class="col-12">
                      <label for="tipo_usuario">Tipo de Usuario:</label>
                      <select id="tipo_usuario" name="tipo_usuario">
                          <option value="estudiante">Estudiante</option>
                          <option value="profesor">Profesor</option>
                      </select>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
{% endblock %}