{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for post in posts %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{blog.imagen.url}}" alt="" style="width: 50%; height: 50%;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <h1 class="section-heading-upper">{{post.titulo}}</h1>
                <h4 class="section-heading-lower">{{post.contenido}}</h4> <br>
                <h6 class="section-heading-lower" style="display: flex; flex-direction: row;">Autor: {{post.autor}}</h6>
              </h2>
            </div>
          </div>
        </div>
    </section>

    {% endfor %}

    <section>
      <div style="color: aliceblue; margin: auto; display: flex; align-items: center; justify-content: center;"> 

        Categorias:   

        {% for post in posts %}

          {% for categoria in post.categorias.all %}

            {{categoria.nombre}} &nbsp;

          {% endfor %}

        {% endfor %}
        
      </div>
    </section>
    
{% endblock %}