<style> p,h1,h2,h3,h4,h5,h6,ul {margin-left: 60px;} </style><br><br><br>

{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block title %} {{carrera_nombre}} {% endblock %}

{% block content %}
    
    <p>¡Felicidades! Te has matriculado exitosamente en la carrera {{carrera_nombre.capitalize}}. Presentaras a continuacion las siguientes materias</p>
    
    <ul>{% for materia in materias_carrera %}

          <li>{{materia.nombre}} Semestre {{materia.semestre.numero}}</li>

        {% endfor %}
    </ul>

    <p>Tus salones seran:</p>

    {% if salones_carrera %}
      <section id="posts" class="section-with-bg">
          <div class="row" data-aos="fade-up" data-aos-delay="100" >
            {% for salon in salones_carrera %}
              <div class="col-lg-4 col-md-6">
                <div class="posts"  style="background-color:DarkTurquoise; color: white; margin-bottom: 20px;">
                  <div class="posts-img">
                    <img src="{{salon.imagen.url}}" alt="sin imagen" class="img-fluid" style="width: 500px; height: 250px;">
                  </div>
                    <h3 style="color: white; margin-left: 0px">Salon {{salon.nombre}} - {{salon.materia.nombre}}</h3>
                    <p style="color: white; margin-left: 0px">Semestre {{salon.semestre.numero}} - Profesor:
                      {% if not salon.profesor %}
                        Sin asignar
                      {% else %}
                        {{salon.profesor}}
                      {% endif %}
                    </p><br>
                </div>
              </div>
            {% endfor %}
          </div>
      </section>
    {% else %}
      <p style="color: red;">Disculpe, por el momento no hay salones disponibles.</p>
    {% endif %}

{% endblock %}