<style> p,h1,h2,h3,h4,h5,h6,ul {margin-left: 60px;} img {width: 450px; height: 1px;} </style><br><br><br>

{% extends "UniversityWebApp/base.html" %}

{% load static %}

{% block content %}
    
  <p>Felicitaciones, has tomado una decisión importante. Te has especializado en la materia {{materia.nombre}} y ahora estarás a cargo de guiar a los estudiantes en su camino hacia el conocimiento en este emocionante campo.</p>

  <p>Los salones bajo tu supervisión en la materia de {{ materia.nombre }} son los siguientes:</p>

    <section id="posts" class="section-with-bg">
        <div class="row" data-aos="fade-up" data-aos-delay="100" >
          {% for salon in salones_profesor %}
            <div class="col-lg-4 col-md-6">
              <div class="posts"  style="background-color:DarkTurquoise; color: white; margin-bottom: 20px;">
                <div class="posts-img">
                  <img src="{% static 'assets/img/imagen_salones.jpg' %}" alt="sin imagen" class="img-fluid">
                </div>
                  <h3 style="color: white; margin-left: 0px">Salon {{salon.nombre}} - {{salon.materia.nombre}}</h3>
                  <p style="color: white; margin-left: 0px">Semestre</p><br>
              </div>
            </div>
          {% endfor %}
        </div>
    </section>
    

{% endblock %}